##Rules

L'odyssée des dés : ALPHA et OMEGA

Deux dés légendaires, ALPHA et OMEGA, se lancent dans une aventure épique pour échapper à la destruction imminente provoquée par une météorite. Leur seul espoir réside dans le pouvoir du hasard et la force de leurs lancers.

But du jeu:

Atteindre 30 points avant que la météorite ne les rattrape, mais il ne peut y avoir qu'un gagnant.

Règles de chaque face du dé:

1: Le joueur perd 1 point.
2: Le joueur adverse gagne 2 points.
3: Le joueur gagne 3 points et relance le dé. S'il obtient à nouveau un 3, il gagne 3 points supplémentaires et relance de nouveau le dé. Cette règle continue tant que le joueur obtient un résultat différent de 3.
4: Le joueur gagne 5 points.
5: Le joueur gagne 4 points.
6: Le joueur relance le dé. S'il obtient à nouveau un 6, il perd 6 points.
7: Le joueur gagne 7 points.
8: Le joueur perd 10 points.
9: Le joueur gagne 18 points.
